* {
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  background: url(patrick-langwallner-3pR7d-tIRx8-unsplash.jpg);
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* #container{
  
} */

.form-layout {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
#section {
  display: none;
}

.grid {
  padding: 10px 50px;
}

input,
textarea {
  border-radius: 20px;
  padding: 10px;
  border: none;
  background-color: lightgoldenrodyellow;
}
input:hover,
textarea:hover {
  background-color: rgb(207, 207, 126);
}
.output {
  height: 100%;
  justify-content: center;
  margin: 0;
}
table {
  background-color: white;
  min-width: 40vw;
  min-height: 80vh;
  padding: 0 0 10px 0;
  border-radius: 10%;
}

h1,
h2,
span {
  padding: 30px 60px;
}
span,
td li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
  font-weight: 500;
  padding-left: 40px;
  color: rgb(206, 14, 37);
}
button {
  margin: 20px;
  padding: 10px;
  max-width: 100px;
  background-color: rgba(0, 0, 0, 0.701);
  color: white;
  border-radius: 15px;
  border: none;
}
button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
table tr {
  column-gap: 50vw;
}

.heading {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.773);
  padding: 10px 5px 0 5px;
  justify-content: space-between;
}

.navigation a {
  margin: 0.5px 5px 0 5px;
  text-decoration: none;
  color: beige;
  text-align: right;
  font-size: larger;
}
.logo {
  color: white;
  margin: 0;
  padding: 0;
}
.icon {
  position: relative;
  display: inline-block;
  font-size: 24px;
  text-decoration: none;
  color: yellow;
  padding: 5px 5px 3px 5px;
  margin: 0;
}
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: beige;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.icon:hover::after {
  transform: scaleX(1);
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: row;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
  }
  table {
    background-color: white;
    min-width: 10%;
    max-width: 15%;
    min-height: 50vh;
    padding: 0 0 10px 0;
    border-radius: 10%;
  }
  table h2,
  table span,
  table h1 {
    padding: 15px;
  }

  span,
  td li {
    font-size: small;
  }
  input,
  textarea,
  button {
    padding: 7px;
  }
  button {
    margin: 2px;
  }
}
@media only screen and (max-width: 300px) {
  .output {
    padding: 0;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
}
@media print {
  header,
  .input {
    display: none;
  }
  .output {
    height: 100%;
    justify-content: center;
    margin: 0;
    /* background: white; */
    background: url(patrick-langwallner-3pR7d-tIRx8-unsplash.jpg);
    background-size: cover;
  }
  table {
    background: transparent;
    padding-bottom: 50px;
  }
  button {
    display: none;
  }
  h2,
  h1 {
    padding: 15px 20px;
  }
}
