*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-weight: 800;
}
.heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    background-color: rgb(124, 121, 121) ;
    padding: 10px 5px 10px 5px;
    justify-content: space-between;
}

header{
    position: sticky;
    top:0vh;
}
.navigation a{
    margin:0.5px 5px 0 5px;
    text-decoration: none;
    color: beige;
    text-align: right;
    font-size:larger;
}
.logo{
    color:white;
    margin: 0;
    padding: 0;
}
.login{
    font-size: x-large;
    color: beige;
    padding: 10px; 
}
.login:hover{
    font-size: x-large;
    padding: 8px;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.image{
    min-width: 72%;
    margin: 0;
    padding: 0;
} 
.title{
    padding:200px 0 100px 50px;
    font-weight:bolder;
    font-size: xx-large;
    max-width: 25%;
    display:block;
    background-color: beige;
}   

.line{
    padding:20px;
    text-align: center;
    background-color: rgb(3, 19, 68);
    color: bisque;
    font-weight: 1200;
    font-size: larger;
}
.examples{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.images{
    border: 1px solid black;
    margin: 5px;
}
.contact{
    text-align: center;
    background-color:  rgb(124, 121, 121) ;
    color: white;
    padding: 2vh 0 1vh 0;
}
.divider{
    font-size: xxx-large;
}
.divide{
    font-size: xx-large;
}
footer{
    margin: 0;
    padding: 0;
}
.icon {
position: relative;
display: inline-block;
font-size: 24px;
text-decoration: none;
color: yellow;
padding:5px 5px 3px 5px;
margin: 0;
}
.icon::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 2px;
background-color:beige;
transform: scaleX(0); 
transition: transform 0.3s ease-in-out;
}
.icon:hover::after {
transform: scaleX(1); 
}

@media only screen and (max-width:700px){
    .title{
        min-width: 80vw;
        padding:50px 20px ;
    }
    .images{
        max-width: 50vw;
    }
    .examples{
        justify-content:left;
    }
}

@media only screen and (max-width:700px) {
    .heading{
    flex-direction: column;
    
}
.heading p{
    padding: 10px 0 ;
}
.heading nav {
    padding: 10px 0 30px 0;
} 
.container{
    min-width: 100vw;
}

}