*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.heading{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.773) ;
    padding: 1em 1em 1em 1em;
    justify-content: space-between;
}

header{
    position: sticky;
    top:0vh;
}
.navigation a{
    margin:0.5px 5px 0 5px;
    text-decoration: none;
    color: beige;
    text-align: right;
    font-size:larger;
}
.marquee{
    font-family:Helvetica, sans-serif;
}
.logo{
    color:white;
    margin: 0;
    padding: 0;
}
.login{
    font-size: x-large;
    color: beige;
    padding: 1rem; 
}
.login:hover{
    font-size: x-large;
    padding: 8px;
    color: white;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.image{
    min-width: 70%;
    margin: 0;
    padding: 0;
} 
.title{
    padding:200px 0 100px 50px;
    font-weight:bolder;
    font-size: xx-large;
    max-width: 25%;
    display:inline-block;
    background-color: beige;
}   

.line{
    padding:20px;
    text-align: center;
    background-color: rgb(3, 19, 68);
    color: bisque;
    font-weight: 1200;
    font-size: larger;
}
.examples{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.img1{
    width: 40vw;
}
.images{
    width: auto;
}
.contact{
    text-align: center;
    /* background-color:  rgb(124, 121, 121) ; */
    background-color: rgba(33, 31, 31, 0.773) ;

    color: white;
    padding: 2vh 0 1vh 0;
}
.divider{
    font-size: xxx-large;
}
.divide{
    font-size: xx-large;
}
footer{
    margin: 0;
    padding: 0;
}
.icon {
position: relative;
display: inline-block;
font-size: 24px;
text-decoration: none;
color: yellow;
padding:5px 5px 3px 5px;
margin: 0;
}
.icon::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 2px;
background-color:beige;
transform: scaleX(0); 
transition: transform 0.3s ease-in-out;
}
.icon:hover::after {
transform: scaleX(1); 
}

@media only screen and (max-width:600px){
    .title{
        min-width: 80vw;
        padding:50px 20px ;
    }
    .img1{
        width: 100%;
    }
    .examples{
        justify-content:left;
    }
    .examples{
        flex-direction: column;
    }
    .icon{
        padding: 1px;
        margin: 0px;
    }
    .navigation a{
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width:600px) {
    .heading{
    flex-direction: column;
    padding: 5px;
    
}
.login{
    font-size: medium;
}
.heading p{
    padding: 10px 0 ;
}
.heading nav {
    padding: 3px 0 10px 0;
    font-size: small;
} 
.container{
    min-width: 100vw;
    flex-wrap: wrap;
}

}