*{
            margin: 0;
            margin-top: 2vh;
            text-align: center;
            text-transform: capitalize;
            color: white;
            font-weight: 800;
            padding: 0;

        }
        body{


            background:url(https://t4.ftcdn.net/jpg/01/22/71/95/360_F_122719584_A863mvJEcEAnqmGQ4ky6RbXEhsHKw95x.jpg);
            background-size: cover;
            height: 100%;
            width: 100%;
       
        }
        .container{
            display:inline-block;
            min-width: 300px;
            margin-top: 50px;
            justify-content: space-around;

            align-items: center;
            /* background-color:ivory; */
            height: fit-content;
            backdrop-filter:blur(5px);
            width: fit-content;
        }
        div input{
            border-color: white ;
            padding: 8px 15px; 
            border-radius: 15px;      
            color: black;    
        }
        .label {
            text-align:center;
        }
        div{
            padding-top: 1vh;
        }
        .button{
            border-radius: 15px;
            margin: 20px 0px;
            padding: 6px 10px;
            width: 80px;
            background-color:rgb(0, 0, 0);
        }
        .button:hover{
            background-color: #fff;
            color: black;
        }
        .division{
            margin: 2px 3px;padding: 0;
        }
        .icons{
            color: black;
            background-color:rgba(26, 146, 231, 0.326);
            padding: 10px 15px;
            display: inline-block;
            margin: 10px 0px;
            border-radius: 25px;
        }
        .icons:hover{
            background-color:rgba(196, 65, 65, 0.745);
            color:white;
        }
        a{
            text-decoration: none;
            color: black;
        }